<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NewsSystemWeb</display-name>
  <welcome-file-list>
    <welcome-file>WelcomeAction</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UpAction</servlet-name>
    <servlet-class>com.newsMS.action.UpAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpAction</servlet-name>
    <url-pattern>/UpAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadAction</servlet-name>
    <servlet-class>com.newsMS.action.UploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAction</servlet-name>
    <url-pattern>/UploadAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SetCharacterEncoding</display-name>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>com.newsMS.filter.SetCharacterEncoding</filter-class>
    <init-param>
      <description></description>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAction</display-name>
    <servlet-name>AdminAction</servlet-name>
    <servlet-class>com.newsMS.action.AdminAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAction</servlet-name>
    <url-pattern>/AdminAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeAction</display-name>
    <servlet-name>WelcomeAction</servlet-name>
    <servlet-class>com.newsMS.action.WelcomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeAction</servlet-name>
    <url-pattern>/WelcomeAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsAction</display-name>
    <servlet-name>NewsAction</servlet-name>
    <servlet-class>com.newsMS.action.NewsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAction</servlet-name>
    <url-pattern>/NewsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsActionForAPP</display-name>
    <servlet-name>NewsActionForAPP</servlet-name>
    <servlet-class>com.newsMS.actionForAPP.NewsActionForAPP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsActionForAPP</servlet-name>
    <url-pattern>/NewsActionForAPP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAction</display-name>
    <servlet-name>CommentAction</servlet-name>
    <servlet-class>com.newsMS.action.CommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAction</servlet-name>
    <url-pattern>/CommentAction</url-pattern>
  </servlet-mapping>
</web-app>